@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Usuarios Registrados</title>
    <script src="https://maps.googleapis.com/maps/api/js?"></script>
    <script defer
            src="https://maps.googleapis.com/maps/api/js?libraries=places&language=<?= $_SESSION['lang'] ?>&key=AIzaSyCo0TTCtLBIi_vDz-W1j7eeXCKVnjCmvtI"
            type="text/javascript"></script>
    
</head>
<style>

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 75%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
        width: 25%;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<body onload="DisplayGoogleMap()">
    <h1 align="center">Listado de trayectos</h1>
    <div id="map" style="width:100%;height:400px;"></div>
    <hr />
    <div>
        <table class="rwd-table" ; style="margin-left:auto;margin-right:auto; font-family: arial, sans-serif; border-collapse: collapse;">
            <thead>
                <tr style="  border: 1px solid #dddddd; text-align: center; padding: 8px;">
                    <th style=" text-center;">Preview</th>
                    <th style="text-center;">Inicio</th>
                    <th style="text-center;">Final</th>
                    <th style="text-center;">AltimetriaMax</th>
                    <th style="text-center;">AltimetriaMin</th>
                    <th style="text-center;">Distancia</th>
                    <th style="text-center;">Descripción</th>
                    <th style="text-center;">Servicios</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var trayecto in ViewBag.Trayectos)
                {
                <tr>
                    <td style="text-center" ;>
                        <div>
                            <input type="radio" id="trayecto" name="trayecto" value="@trayecto.TrayectoID" checked>
                            <label for="trayecto"></label>
                        </div>
                    </td>
                    <td style="text-center;">@trayecto.Inicio</td>
                    <td style="text-center;">@trayecto.Final</td>
                    <td style="text-center;">@trayecto.AltimetriaMax</td>
                    <td style="text-center;">@trayecto.AltimetriaMin</td>
                    <td style="text-center;">@trayecto.Distancia</td>
                    <td style="text-center;">@trayecto.Descripcion</td>
                    <td style="text-center">@Html.ActionLink("Ver servicios", "consultarServicios", "Servicio", new { trayectoId = trayecto.TrayectoID }, null)</td>
                    <td style="text-center">@Html.ActionLink("Eliminar trayecto", "eliminarTrayecto", "Trayecto", new { TrayectoID = trayecto.TrayectoID }, null)</td>

                </tr>
                }
            </tbody>
        </table>
    </div>

</body>
</html>

<script type="text/javascript">
    function DisplayGoogleMap() {

        const directionsService = new google.maps.DirectionsService();
        const directionsRenderer = new google.maps.DirectionsRenderer();

        //Create Options or set different Characteristics of Google Map
        var mapOptions = {
            center: { lat: 9.93790062730941, lng: -84.05204417786392 }, //ecci
            zoom: 7,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        //Display the Google map in the div control with the defined Options
        var map = new google.maps.Map(document.getElementById("map"), mapOptions);

        directionsRenderer.setMap(map);
        const onChangeHandler = function () {
            calculateAndDisplayRoute(directionsService, directionsRenderer);
        };

        document.getElementById("start").addEventListener("change", onChangeHandler);
    }


</script>

<style>
    #map {
        height: 100%;
    }
</style>

